<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">
        <input
          type="text"
          placeholder="Search a specific user"
          aria-label="Number"
          name="search"
          [(ngModel)]="search"
          (ngModelChange)="searchUser($event)"
          matInput
          [matAutocomplete]="auto"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <ng-container *ngIf="search?.length >= 2 ">
            <mat-option
              *ngFor="let user of (users$ | async)| filter:search; trackBy:user?.id "
              [value]="user.login"
            >
              <span> {{user.login}}</span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <button
          *ngIf="search"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="search=''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-card>
    <ion-avatar slot="start">
      <img [src]="(user$ | async).avatar_url" />
    </ion-avatar>
    <div class="user--info">
      <h3>
        <strong>{{(user$ | async).name}} </strong>
      </h3>
      <span>{{(user$ | async).login }}</span>

      <p>{{(user$ | async).bio }}</p>

      <ng-container *ngIf="user$ | async as user">
        <ion-button
          *ngIf="user.blog"
          (click)="openBlog(user.blog)"
          shape="round"
          >Website</ion-button
        >
      </ng-container>
    </div>
    <mat-divider></mat-divider>

    <div class="user--stats">
      <h3>
        <small>
          <ion-icon name="location-outline"></ion-icon>
        </small>

        <strong> {{(user$ | async).location }} </strong>
      </h3>

      <h3>
        <small>
          <ion-icon name="home-outline"></ion-icon>
        </small>

        <strong> {{(user$ | async).company }} </strong>
      </h3>
    </div>
    <mat-divider></mat-divider>

    <div class="user--stats">
      <h3>
        <small>Public repos</small>
        <strong> {{(user$ | async).public_repos }} </strong>
      </h3>

      <h3>
        <small>Followers</small>
        <strong> {{(user$ | async).followers }} </strong>
      </h3>
    </div>
  </mat-card>
</ion-content>
