ion-spinner {
  margin: 0 auto;
  display: block;
}

form {
  outline: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  width: 96%;
  margin: 0 auto;
}

form > .textbox {
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid var(--ion-color-primary);
}

form > .textbox:focus {
  outline: 0;
  background-color: #fff;
}

form > .button:hover {
  background-color: var(--ion-color-primary);
}
